__pycache__/
*.py[cod]
*$py.class

# Ignore environment folder
env/
venv/

# Ignore logs
*.log
logs/
*.out

# Ignore Django settings and database
*.sqlite3
db.sqlite3
*.db

# Ignore virtual environment
.env
*.env

# Ignore compiled files
*.so

# Ignore IDE/editor specific files
.vscode/
.idea/
*.swp
*~ 

# Ignore Django migrations cache
**/migrations/*.pyc
**/migrations/__pycache__/

# Ignore static and media files
staticfiles/
media/

# Ignore dependencies
pip-log.txt
pip-delete-this-directory.txt

# Ignore coverage and test reports
.coverage
.tox/
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# Ignore Node.js dependencies (if using frontend)
node_modules/

# Ignore Docker files (if applicable)
docker-compose.override.yml
